{% extends "base1.html" %}
{% load static %}
{% block head %}
<h1>Trending Blogx for you</h1>
{% if request.user.is_authenticated %}
    {% if request.user.is_staff %}
              <a href='{{ object.get_create_url }}' class="btn btn-danger">Create new blog</a>
    {% endif %}
{% endif %}
{% endblock %}
<div class="btext">
    {% block content %}
        <font color="black">

    </font>
    <div class="row">
    {% include 'list-inline.html' with blog_post=object truncated=False detail=True %}

</div>
</div>
{% endblock %}
