<div class='col-12 col-md-8 mb-3 mx-auto'>
<div class='card'>
    <div class="card-body">
        {% if blog_post.image %}
          <a href="{{ blog_post.get_absolute_url }}">
            <img src="{{blog_post.image.url }}" class="card-img-top"/>

          </a>
        {% endif %}
        <h2 class="card-title">{{blog_post.title}}</h2>

        <br class="card-text">
            <small class="'text-muted">{{blog_post.publish_date}}</small>
        <br>
           {% if truncate %}
             {{blog_post.content|truncatewords:30}}
           {% else %}
              {{blog_post.content|linebreaks}}
              <div class="col-12">
                    <a href='{{ object.get_edit_url }}' class="btn">Edit</a>
                    <a href='{{ object.get_delete_url }}' class="btn btn-danger">Delete</a>
                    <a href='{{ object.get_create_url }}' class="btn">Create new blog</a>
              </div>
           {% endif %}
        <br>

        {% if not detail %}
            {% if not blog_post.publish_date %} Draft {% endif %}
             <a href="{{ blog_post.get_absolute_url }}" class="btn ">Read more </a>

        {% endif %}
    </div>
</div>
</div>